
<header class="page_header">

    <div class="ms_header">
        <div class="ms_header_nav">
            <nav>
                <ul class="menu">
                    <%= render :partial => 'general/locale_switcher' %>
                    <%= render :partial => 'general/orglink' %>


                    <li><a class="ms_header_nav-about" href="#about">About</a></li>
                    <li><a class="ms_header_nav-blog" href="#blog">Blog</a></li>
                    <li><a class="ms_header_nav-login" href="#login">Login</a></li>

                </ul>
            </nav>
        </div>
    </div>
    <div class="logo">
        <a href="#"><img src="/themes/alaveteli/img/alaveteli_logo.png" alt=""></a>
    </div>
    <div class="main_menu">
        <ul>
            <li class="menu-newrequest"><a href="#">Make Request</a></li>
            <li class="menu-viewrequests active"><a href="#">View Requests</a></li>
            <li class="menu-viewauthorities"><a href="#">View Authorities</a></li>
            <li class="menu-emailalerts"><a href="#">Email Alerts</a></li>
            <li class="menu-help"><a href="#">Help</a></li>
            <li class="menu-search"><label for="search"><img src="/themes/alaveteli/img/search.png" alt="Search:"></label><input id="search" name="search" type="search"></li>
        </ul>
    </div>


</header>
