<h1>Set up an email alert</h1>

<div class="email-alerts-intro">
    <p>Get emailed about updates to requests you care about</p>
    <a href="#">Learn more about email alerts</a>
</div>

<div class="email-alerts-simple-setup">
    <h2>Set up a simple email alert</h2>
    <p>Email me whenever a request is updated that contains this keyword</p>
    <form>
        <label for="simple-keyword">
            Keyword
        </label>
        <input type="text" placeholder="E.g. Pensions" id="simple-keyword" name="simple-keyword"/>
        <input type="submit" value="Start email alert" class="button" />
    </form>
    <a href="#">Set up a more sophisticated alert</a>
</div>