<% @title = _("Now check your email!") %>
<div class="notice_banner icon-email pending">
    <h3 class="notice_banner-title"><%= @title %></h3>
    <div class="notice_banner-content">
        <p class="confirmation_message">
        <%= _("We've sent you an email, and you'll need to click the link in it before you can continue.") %>
        </p>
        <p class="confirmation_message">
        <%= _('If you use web-based email or have "junk mail" filters, also check your bulk/spam mail folders. Sometimes, our messages are marked that way.') %>
        </p>
    </div>
</div>
